# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.lab_3.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\37544\Desktop\Work\053505\isp\lab_3\.idea\.idea.lab_3\.idea/dataSources/
/dataSources.local.xml
